# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# Sistema operativo / editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp

# Variables de entorno
.env
.env.*

